#source {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 10px;
  font-size: 2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#source_icon {
  color: white;
  border-radius: 0.5em;
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #ddd;
  text-align: center;
  width: 1em;
  height: 1em;
}
